html {
  scroll-behavior: smooth;
}

/* Navbar styles */
.navbar {
  background-color: #3380FF; 
  }

.navbar-brand {
  color: #fff !important;
}

.navbar-brand:hover, .nav-link:hover {
  color: gold !important; 
}

.dropdown-menu {
  background-color: #CEFF33 !important;
}

@media (max-width: 600px) {
 .carousel {
  display: none;
} 
}

.carousel-caption {
  background-color: rgb(0,0,0,0.5);
  width: 40%;
  margin: auto;
  }
.fa-row {
  background-color: green;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  color: silver;
}

.fab, .fas {
  font-size: 60px;
}

.fab:hover, .fas:hover {
  color: red;
  transform: scale(1.1);
}


.fab-link:hover {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.fas-link:hover {
  color: red;
  font-weight: bold;
}

.fab-link {
  color: silver;
  font-weight: bold;
}



.footer-row {
  background-color: green;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-row a {
  color: #ffffff;
}

.footer-row a:hover {
  color: #ffffff;
  text-decoration: none;
}

.project-videos {
  text-align: center;
  padding: 20px 0px 20px 0px; /*top right bottom left*/
}

video { 
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.gallery-row {
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}

.cropped {
  width: 300px;
  height: 300px;
}

.cropped-1 {
  object-fit: cover;
  object-position: 65%;
}

.cropped-2 {
  object-fit: cover;
  object-position: 62%;
}

.cropped-3 {
  object-fit: cover;
  object-position: 60%;
}